<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="NinjaShop" thread-count="2" parallel="methods">
    <listeners>
        <listener class-name="utils.ScreenshotListener"/>
    </listeners>
    <test name="AllTests">
        <classes>
            <class name="tests.LoginTest"/>
            <class name="tests.RegisterTest"/>
            <class name="tests.SearchTest"/>
            <class name="tests.CartTest"/>
            <class name="tests.CheckoutTest"/>
        </classes>
    </test>
</suite>